/*
CSS Grid Blog Homepage Example

Experiments in using CSS grid to create responsive websites

Author:  Anshul Kharbanda
Created: 2 - 17 - 2020
*/

/*
Menu bar/box. Also uses CSS Grid to control position of
title and icons.
*/
.menu {
    // Grid area
    grid-area: menu;

    // Spacing
    padding: $spacing-unit;

    // Coloring!
    background-image: linear-gradient(45deg, lighten($menu-background, 5%), $menu-background);
    color: white;

    // Menu title
    .title {
        grid-area: title;
        margin: $spacing-unit;
    }

    // Menu icons
    @for $i from 1 through 5 {
        .icon-#{i} {
            grid-area: icon-#{i};
        }
    }
}