.button {
    // Sizing
    text-decoration: none;
    padding: $spacing-unit/2 $spacing-unit;
    border-radius: $button-border-radius;
    
    // Coloring
    color: black;
    background-color: #ccc;

    // Hover effect
    transition: background-color 0.5s;
    &:hover {
        background-color: #aaa;
    }
}

.icon {
    color: inherit;
    font-size: 24pt;
}