/*
CSS Grid Blog Homepage Example

Experiments in using CSS grid to create responsive websites

Author:  Anshul Kharbanda
Created: 2 - 17 - 2020
*/

// Generic button
.button {
    // Sizing
    text-decoration: none;
    padding: $spacing-unit/2 $spacing-unit;
    border-radius: $button-border-radius;
    
    // Coloring
    color: black;
    background-color: #ccc;

    // Hover effect
    transition: background-color 0.5s;
    &:hover {
        background-color: #aaa;
    }
}

// Generic icon
.icon {
    color: inherit;
    font-size: 24pt;
}

// Footer
.footer {
    grid-area: footer;

    // NAHFAM 3: Thanos Snaps Himself
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: stretch;

    // Font and spacing
    padding: $spacing-unit;
    font-style: italic;

    // Coloring
    background-image: linear-gradient(45deg, lighten($footer-background, 8%), $footer-background);
    color: white;
}