/*
CSS Grid Blog Homepage Example

Experiments in using CSS grid to create responsive websites

Author:  Anshul Kharbanda
Created: 2 - 17 - 2020
*/

/*
Generic post snippet. Controls position of elements using CSS Grid.
*/
.post-snippet {
    // Spacing
    padding: $spacing-unit;

    // Layout
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "snippet" "buttons";

    // Post title
    .title {
        grid-area: title;
        @include on-mobile {
            text-align: center;
        }
    }

    // Post snippet
    .snippet {
        grid-area: snippet;
    }

    /*
    Post button set. Controls positioning of
    button using flexbox
    */
    .buttons {
        grid-area: buttons;

        // Use flex box for rows
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;

        .button {
            // Stretch on mobile only
            flex: 0;
            @include on-mobile {
                flex: 1;
            }

            // Button and text alignment
            margin: 0pt $spacing-unit/2;
            text-align: center;
        }
    }
}

// Main post snippet
.main {
    grid-area: main;
    @include colored-snippet($main-background);
}

// Loop makes second post snippets
@for $i from 1 through $second-count {
    .second-#{$i} {
        grid-area: second-#{$i};
        @include colored-snippet(nth($second-backgrounds, $i));
    }
}

// Loop makes third post snippets
@for $i from 1 through $third-count {
    .third-#{$i} {
        grid-area: third-#{$i};
        @include colored-snippet(nth($third-backgrounds, $i));
    }
}