/*
CSS Grid Blog Homepage Example

Experiments in using CSS grid to create responsive websites

Author:  Anshul Kharbanda
Created: 2 - 17 - 2020
*/

/*
Generic post snippet. Controls position of elements using CSS Grid.
*/
.post-snippet {
    // Spacing
    padding: $spacing-unit;

    // Layout
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "snippet" "buttons";

    // Mobile layout
    @include on-mobile {
        justify-items: stretch;
    }

    // Post title
    .title {
        grid-area: title;
        @include on-mobile {
            text-align: center;
        }
    }

    // Post snippet
    .snippet {
        grid-area: snippet;
    }

    /*
    Post button set. Controls positioning of
    button using css grid on mobile only
    */
    .buttons {
        grid-area: buttons;
        text-align: right;
        display: block;

        // Mobile layout
        @include on-mobile {
            // Make a 1x1 grid!
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;
            justify-items: stretch;

            // Align text
            text-align: center;
        }
    }
}

// Main post snippet
.main {
    grid-area: main;
    @include colored-snippet($main-background);
}

// Loop makes second post snippets
@for $i from 1 through $second-count {
    .second-#{$i} {
        grid-area: second-#{$i};
        @include colored-snippet(nth($second-backgrounds, $i));
    }
}

// Loop makes third post snippets
@for $i from 1 through $third-count {
    .third-#{$i} {
        grid-area: third-#{$i};
        @include colored-snippet(nth($third-backgrounds, $i));
    }
}