$spacing-unit: 12pt;

$responsive-mobile-size: 830px !default;
$responsive-tablet-size: 1200px !default;

$menu-background: #444 !default;

$main-background: gold !default;

$second-backgrounds: 
    tomato dodgerblue mediumseagreen !default;

$third-backgrounds: 
    lightcoral sienna indianred orange 
    pink lavender violet turquoise 
    teal slateblue darkolivegreen slategray !default;