$menu-background: #444;
$main-background: gold;
$second-backgrounds: 
    tomato dodgerblue mediumseagreen;
$third-backgrounds: 
    lightcoral sienna indianred orange 
    pink lavender violet turquoise 
    teal slateblue darkolivegreen slategray;

@mixin colored-snippet($color) {
    background-image: linear-gradient(-45deg, lighten($color, 8%), $color);
    .title {
        color: darken($color: $color, $amount: 25%);
    }
    .button {
        background-color: darken($color: $color, $amount: 20%);
        color: white;
        &:hover {
            background-color: darken($color: $color, $amount: 30%);
        }
    }
}

.layout {
    // Positioning
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    min-height: 100%;

    // CSS Grid
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(9, 1fr);

    // Grid areas
    grid-template-areas:
        "main     main     main     second-1 second-1 second-1 second-1 menu     menu"
        "main     main     main     second-1 second-1 second-1 second-1 menu     menu"
        "main     main     main     second-2 second-2 third-1  third-2  third-3  third-4"
        "second-3 second-3 second-3 second-2 second-2 third-5  third-6  third-7  third-8"
        "second-3 second-3 second-3 second-2 second-2 third-9  third-10 third-11 third-12";

    // Grid areas on mobile
    @media only screen and (max-width: 760px) {
        // CSS Grid
        display: grid;
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(2, 1fr);

        // Grid areas
        grid-template-areas: 
            "menu     menu"
            "main     main"
            "main     main"
            "second-1 second-1"
            "second-2 second-2"
            "second-3 second-3"
            "third-1  third-2"
            "third-3  third-4"
            "third-5  third-6"
            "third-7  third-8"
            "third-9  third-10"
            "third-11 third-12";
    }

    // Font styling
    font-family: "Calibri Light", sans-serif;
    font-size: 14pt;
}

.post-snippet {
    // Spacing
    padding: 12pt;

    // Layout
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "snippet" "buttons";

    .title {
        grid-area: title;
    }

    .snippet {
        grid-area: snippet;
    }

    .buttons {
        grid-area: buttons;
        text-align: right;
    }
}

.button {
    text-decoration: none;
    padding: 6pt 12pt;
    border-radius: 8pt;
    
    // Coloring
    color: black;
    background-color: #ccc;

    // Hover effect
    transition: background-color 0.5s;
    &:hover {
        background-color: #aaa;
    }
}

.menu {
    grid-area: menu;

    // Coloring!
    background-color: $menu-background;
}


// Main
.main {
    grid-area: main;
    @include colored-snippet($main-background);
}

// Second loop
@for $i from 1 through 3 {
    .second-#{$i} {
        grid-area: second-#{$i};
        @include colored-snippet(nth($second-backgrounds, $i));
    }
}


// Third loop
@for $i from 1 through 12 {
    .third-#{$i} {
        grid-area: third-#{$i};
        @include colored-snippet(nth($third-backgrounds, $i));
    }
}